extends layouts/layout

block vars
	-title='Homepage'

block container
	.inner
		section#main
			.row
				.large-6.column
					label Username
				.large-6.column
					input(type="text")
				.large-6.column
					label Password
				.large-6.column
					input(type="password")
