extends layouts/layout

block vars
	-title='Homepage'

block container
	.inner
		section#main
	.row
		.large-12.column
			label Username
			input(type="text")
		.large-12.column
			label Password
			input(type="password")
